<%= @costume.title %>
<div>
  <p> <%= @costume.style %></p>
  <p> <%= @costume.reference_sheet %></p>
  <br>
  <br>
  <h2>If there any errors with your submission:</h2><br>
  <%= link_to "Fix it!", edit_globaluser_costume_path(@costume) %>
   