<h1>Profile of: <%= @user.username %></h2>

  <% if @user.client %>
    <%= link_to "Commission", '/globalusers/globaluser_id/costumes/new' %> | 
    <%= link_to "My Costumes", '/globalusers/:globaluser_id/costumes/:id'%> 
  <% else @designer %>
    <%=  link_to "All Commissions", '/costumes/:costume_id/commissions'  %>
  <% end %>

<%# want designer to have links to: all commission -  their status with UPDATE abilities for status (commissions controller) %>