
<h1>Profile of: <%= @user.username %></h2>

  <% if @user.client %>
    <%= link_to "Commission", new_globaluser_costume_path(@user, @costume) %> | 
    <%= link_to "My Costumes", globaluser_costumes_path(@user) %> 
  <% else @designer %>
    <%=  link_to "All Commissions",globaluser_commissions_path(@user)  %>
  <% end %>